body {
  font-family: Arial, sans-serif;
  background-color: #333333;
  background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTi4uiGQmZoI8cIIbqEITW4Uk0Jkn8MFvjACW6g9OoQYsqn357xefQFojnAKQo2");
  color: #fff;
  margin: 0;
  padding: 0;
}

.app {
  padding: 20px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
